<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'css/rookie.css' %}" rel="stylesheet"><!DOCTYPE html>
   <title>Rookie</title>
</head>
<body style="background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);">
    <header>
        <nav class="navbar">
            <div class="navbar-container container">
                <input type="checkbox" name="" id="">
                <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
                <ul class="menu-items">
                    <li><a href="home">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="profile">Profile</a></li>
                    <li><a href="signin">Logout</a></li>
                </ul>
                <a href=""><h1 class="logo">GSS</h1></a>
            </div>
        </nav>
    </header>
    <section>
        <div class="div-grid">
            <form  method="post" >
                {% csrf_token %}
                <h1>Guessing Game</h1> <br>
                <p> Enter a guess from 1-100. Guess right to win a prize!</p> <br>
                <input type="number" placeholder="Enter a guess "  name="guess" required> <br>
                <button type="submit" >Submit</button>
                <button type="reset" onclick="window.location.href='http://127.0.0.1:8000/rookie'">Start Over</button>
            </form>
        </div>
        <div class="results-div-grid">
            <h3>Results</h3> <br>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </section>

</body>
</html>