<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'css/signin.css' %}" rel="stylesheet"><!DOCTYPE html>

    <title>Sign In</title>
</head >
<body style="background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);">
    <div class="login-grid">
        <form  method="post" >
            {% csrf_token %}
            <label class ="loginlabel" for="log in" >Login</label> <br>

            <input type="text" placeholder="Username " id="email" name="uname" required> <br>

            <input type="password" placeholder="Password" id="password" name="pwd" required> <br>

            <a class="forgot" href="">forgot password</a> <br>

            <button class="login" type="Submit" name="save" >Login</button>

			<p>New User. <a href="http://127.0.0.1:8000/signup"> SignUp here</a> </p>
        </form>

    </div>

</body>
</html>